body {
font-family: Arial, Helvetica, sans-serif;
background: #f7f9fb;
margin: 16px;
color: #111;
}


h1 {
font-family: 'Audiowide', sans-serif;
font-size: 28px;
margin-bottom: 20px;
text-align: center;
}


/* Центрування фото */
.gallery {
display: flex;
flex-wrap: wrap;
justify-content: center; /* центрування */
gap: 10px;
margin-bottom: 22px;
}


.gallery img {
width: 300px;
height: auto;
border-radius: 10px;
transition: transform 0.3s ease;
}


.gallery img:hover {
transform: scale(1.05);
}


/* Відео поруч */
.video-wrapper {
display: flex;
justify-content: center;
gap: 20px;
flex-wrap: wrap;
margin-top: 20px;
}


.video-block {
background: #fff;
padding: 12px;
border-radius: 10px;
width: 48%;
min-width: 300px;
box-shadow: 0 6px 18px rgba(0,0,0,0.04);
}


.video-block h2 {
text-align: center;
margin-bottom: 8px;
}


video {
width: 100%;
border-radius: 8px;
}